{
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": 0,
    "consistent-return": 0,
    "function-paren-newline": [
      0,
      "never"
    ],
    "implicit-arrow-linebreak": [
      "off"
    ],
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "import/prefer-default-export": "warn",
    "import/no-unresolved": "off",
    "linebreak-style": 0
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}